<section class="secondary-header ">
    <div class="container ">
        <nav class=" d-flex justify-content-around ">
            <a href=" " class="all-cat "><i class="fa fa-th-list "></i>Catagories</a>
            <a href=" ">Jewellery</a>
            <a href=" ">Mobile</a>
            <a href=" ">Jeans</a>
            <a href=" ">Watch</a>
            <a href=" ">Television</a>
            <a href=" ">Toys</a>
            <a href=" ">Grocery</a>
            <a href=" ">Sport</a>
            <a href=" ">Vegetable</a>
            <a href=" ">Shirt</a>
        </nav>
    </div>
</section>