<section class="sec-offer-boxes mb-3 ">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-3 ">
                <div class="bg-info offer-box text-white ">
                    80% OFF
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="bg-success offer-box text-white ">
                    80% OFF
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="bg-danger offer-box text-white ">
                    80% OFF
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="bg-warning offer-box text-white ">
                    80% OFF
                </div>
            </div>
        </div>
    </div>
</section>