<section class="home-banner mb-3 ">
    <div class="container-fluid carousel-nav-center ">
        <owl-carousel-o [options]="customOptions ">
            <ng-template carouselSlide>
                <img src="../../../assets/banner1.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/banner2.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/banner3.png">
            </ng-template>
        </owl-carousel-o>
    </div>
</section>